<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="8fe74c69-1c5a-48c2-ba2e-122975f1326a" Name="Valentine's Day" Language="1033" Version="1.0.0.0" Manufacturer="Navarro College Computer Science Club" UpgradeCode="8fe74c69-1c5a-48c2-ba2e-122975f1326a">
        <Package InstallerVersion="200" Compressed="yes" Comments="Windows Installer Package"/>
        <Media Id="1" Cabinet="product.cab" EmbedCab="yes"/>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLLOCATION" Name="MyProduct">
                    <Component Id="ProductComponent" Guid="8fe74c69-1c5a-48c2-ba2e-122975f1326a">
                        <File Id="ProductFile" Source="C:\Users\logan\OneDrive\Desktop\valentines\valentines\obj\Debug\valentines.exe"/>
                    </Component>
                </Directory>
            </Directory>
        </Directory>
        <Feature Id="ProductFeature" Title="Main Feature" Level="1">
            <ComponentRef Id="ProductComponent" />
        </Feature>
        <UI>
            <UIRef Id="WixUI_InstallDir"/>
            <UIRef Id="WixUI_ErrorProgressText"/>
        </UI>
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION"/>

    </Product>
</Wix>
